.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  form{
    width: 80vw !important;
  }
  form div{
    flex-direction: column !important;
    align-items: start !important;
    margin: 5px;
  }
  .results-container{
    width: 80vw !important;
  }
  .results-container p{
    width: 100%;
  }
}

form{
  width: 50vw;
}
form div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.results-container{
  width: 50vw;
}

.results-container p{
  width: 50%;
}

.App-header {
  background-color: #6c10f4;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p{
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
